.file_list + details ul,
.file_list + details ol {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.file_list + details ul li,
.file_list + details ol li,
.file_list + details ul ul,
.file_list + details ol ol,
.file_list + details ul ol,
.file_list + details ol ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
